.navigation{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    .hamburger{
        align-self: flex-start;        
        button {
            cursor: pointer;
            margin: 10px;
            //border: 0;
            //border: 0 $borderColor;
            i {
                padding: 10px;
                font-size: 2.5rem;
            }
        }        
    }
    #logo {
        background: $logoBackground;
        color: white;
        width: 100px;
        font-size: 3rem;
        font-weight: bold;
        border-radius: 10px;
        padding: 10px;
    }
    nav {
        ul {
            position: fixed;
            top: 60px;
            left: 0px;
            background-color: $background;
            width: 100%;
            li a {
                display: block;
                font-size: 2rem;
                //letter-spacing: 3.28px;
                text-align: center;
                text-decoration: none;
                color: black;
                &:active {
                    color: $textColor;
                    background-color: white;
                }
             }
        }
    }
}
