
.navigation {
  padding: 20px 30px;

  &__menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hamburger {
    display: none;
  }

  nav {
    ul {
      position: initial;
      background-color: transparent;
      width: auto;

      li {
        display: inline-block;
        margin: 10px;
        padding: 10px;

        a {
          font-size: 1.5rem;
          font-weight: 800;
          text-align: center;
          text-decoration: none;
          color: $textColor;
        }

        &:hover {
          background-color: black;
          border-radius: 10%;

          a {
            color: white;

            &:active {
              color: $textColor;
              background-color: black;
            }
          }
        }

      }
    }
  }
}