body {
    background: $background;
}

.section2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    > div {
        width: 100%;
        background-color: white;
        border-radius: 2%;
        margin: 20px 0;
        overflow: hidden;
        > img {
            width: 100%;
        }
        h2 {
            font-size: 2.5rem;
            font-weight: 700;
            padding: 30px 30px;
            padding-bottom: 10px;
        }
        p:nth-of-type(1) {
            font-size: 1.5rem;
            padding-bottom: 30px;
            padding-left: 30px;
        }
        p:nth-of-type(2) {
            font-size: 1.5rem;
            padding-bottom: 20px;
            padding-left: 30px;
            line-height: 3rem;
        }

    }
}