.section4 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 20px;
  padding-bottom: 20px;
  hr {
    margin-top: 50px;
    width: 85%;
    color: grey;
  }
  div {
    width: 100%;
    h1 {
      font-size: 2.5rem;
      font-weight: 700;
      padding: 30px 0px;
      padding-bottom: 10px;
    }
    p {
      font-size: 1.5rem;
      line-height: 3rem;
    }
    i {
      font-size: 4rem;
      line-height: 3rem;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 5px;
      cursor: pointer;
    }
    ul li {
      list-style-type: none;
      font-size: 1.5rem;
      line-height: 3rem;
      a {
        color: $textColor;
        font-size: 1.5rem;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}