.section3 {
  background-color: white;
  width: 100vw;
  .section3-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  padding-bottom: 20px;
  .section3-1 {
    h1 {
      font-size: 2.5rem;
      font-weight: 700;
      padding: 30px 30px;
      padding-bottom: 10px;
    }
    p {
      font-size: 1.5rem;
      padding-bottom: 20px;
      padding-left: 30px;
      line-height: 3rem;
    }
    button {
      background-color: $borderColor;
      color: white;
      width: 90%;
      margin: 0 auto;
      &:hover {
        background-color: lighten($borderColor, 5%);
      }
    }
  }
  .section3-2 {
    width: 100%;
    h1 {
      font-size: 2.5rem;
      font-weight: 700;
      padding: 30px 30px;
      padding-bottom: 10px;
    }
    p {
      font-size: 1.5rem;
      padding-bottom: 20px;
      padding-left: 30px;
      line-height: 3rem;
    }
    .section3-pics {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      div {
        width: 100%;
        padding-bottom: 20px;
        img {
        width: 50%;
        padding: 10px;
        float: left;
        &:nth-of-type(3) {
          clear:left;
        }
        }
      }
    }
    button {
      width: 90%;
      background-color: $borderColor;
      color: white;
      margin: 0 auto;
      &:hover {
        background-color: lighten($borderColor, 5%);
      }
    }
  }
  hr {
    margin-top: 50px;
    width: 85%;
    color: grey;
  }
  }
}