.section2 {
    flex-direction: initial;
  > div {
    width: 31%;
    background-color: white;
    border-radius: 2%;
    margin: 20px 0;
    overflow: hidden;
    > img {
      width: 100%;
    }
    h2 {

    }
    p:nth-of-type(1) {

    }
    p:nth-of-type(2) {

    }

  }
}